@import "variables";

.Menu {
  text-align: right;
  font-size: .9rem;
  border-bottom: 1px solid $purpleMiddleDark;
  margin-bottom: 40px;

  a {
    color: $yellow;
    padding: 20px 10px;
    display: block;
    text-decoration: none;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.Logo {
  text-align: center;

  img {
    width: 100%;
    max-width: 360px;
  }
}

.Footer {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  font-size: .9rem;
  color: rgba(255, 255, 255, .5);
  opacity: .5;
}

.IndexMenu {
  border-top: 1px solid $purpleMiddleDark;
  font-size: 80%;
  margin-top: 40px;
  padding-top: 20px;

  &.markdown-body h4 {
    margin-top: 0;
    font-size: 1rem;
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: .9rem;
  display: inline-block;
  background-color: $yellow;
  color: $purpleMiddleDark;
  text-decoration: none;

  &:hover {
    background-color: $yellowMiddleDark;
  }
}
