---
---
@import "variables";
@import "layout";
@import "chat";
@import "playground";
@import "markdown";
@import "rouge-github";

*, *:before, *:after { box-sizing: inherit; }
html { box-sizing: border-box; }
img { box-sizing: content-box; }

body {
  color: #d6d6d6;
  background-color: $purple;
}

a {
  color: $yellow;
}

.f { font-family: 'Roboto', sans-serif; }

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}
